.categoriesContainer {
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  display: flex;
}

.container {
  height: 90vh;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.categoryLink {
  text-decoration: "none";
  height: 200px;
  width: 250px;
  cursor: pointer;
  margin-left: 20px;
  border: black 1px solid;
}

.image {
  width: 220px;
  height: 140px;
  object-fit: contain;
}

.categoryImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryContainer {
}
.categoryName:hover {
  color: yellow;
}
.categoryName {
  margin: 10px 0px 20px 0px;
  text-align: center;
}
h1 {
  text-align: center;
}
