* {
  padding: 0;
  margin: 0;
}

.profilePageContainer {
  height: 200vh;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.welcomeMessage {
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
}

.dataContainer {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 40px;
}

.buttonsContainer {
  display: flex;
}

.categoriesButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50%;
}
.categoriesButton:hover {
  cursor: pointer;
  background-color: #ff99cc;
}

.mostPlayedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50%;
}
.mostPlayedButton:hover {
  cursor: pointer;
  background-color: #ff99cc;
}

.dataButtonsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 65%;
  height: 40vh;
  font-size: 1.3rem;
}
.mostPlayedCategoryName,
.neverPlayedCategoryName {
  color: red;
}
.dataMessage {
  text-align: center;
}

.dataNewsContainer {
  display: flex;
  justify-content: space-between;
}
.news {
  margin-right: 40px;
  height: 100vh;
  border: 1px solid rgb(255, 51, 255);
  width: 20%;
}
.contentContainer {
  height: 300px;
  padding: 20px;
}
.categoriesMostPlayedContainer {
  border: 1px solid black;
}
.active {
  background-color: #ff99cc;
}
